/* Custom styles */
.heading1 {
    font-size: var(--fontsize-xxlarge);
}
.heading2 {
    font-size: var(--fontsize-xlarge);
}
.heading3 {
    font-size: var(--fontsize-large);
    text-align: left;
}
.content-text-large {
    font-size: var(--fontsize-lmedium);
    text-align: left;
}
.content-text-medium {
    font-size: var(--fontsize-medium);
    text-align: left;
}
.content-text-small {
    font-size: var(--fontsize-smedium);
    text-align: left;
}
.container {
    max-width: 1200px;
    display: block;
    justify-content: center;
  }
  .splash {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .splash img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }
  .main-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: #f0f0f0;
  }
  .header .logo {
    font-size: var(--fontsize-xxlarge);
    font-weight: bold;
  }
  .navbarContainer {
    display: flex;
    align-items: center;
  }
  .home-desktop-menu {
    display: flex;
    gap: 20px;
  }
  .home-links {
    display: flex;
    gap: 20px;
  }
  .home-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .home-buttons .content-text {
    font-size: var(--fontsize-small);
  }
  .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--space-space-halfunit);
    padding-left: var(--space-space-oneandhalfunits);
    padding-right: var(--space-space-oneandhalfunits);
    padding-bottom: var(--space-space-halfunit);
  }
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    width: var(--switchwidth);
    height: var(--switchheight);
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: '';
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 45%;
    height: 90%;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  input:checked + label {
    background: var(--color-accent);
  }
  input:checked + label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
  }
  label:active:after {
    width: 65%;
  }
  .home-burger-menu {
    display: none;
  }
  .home-mobile-menu1 {
    display: none;
  }
  .hero {
    padding: 40px;
    background-color: var(--color-background1);
    color: var(--color-primary-text);
    justify-content: center;
    display: flex;
  }
  .hero .hero-text-container {
    text-align: center;
  }
  .hero .hero-text-container .heading1 {
    font-size: var(--fontsize-xxlarge);
    font-weight: bold;
  }
  .content-text-small {
    font-size: var(--fontsize-medium);
  }
  .hero .hero-text-container .button-flat {
    padding: 10px 20px;
    /* background-color: var(--color-accent); */
    color: var(--color-primary-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    /* transition: background-color 0.3s ease; */
  }
  .hero .hero-text-container .button-flat:hover {
    color: var(--color-primary2);
  }
  .content {
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: var(--color-background2);
    color: var(--color-primary-text);
    display: flex;
    justify-content: center;
  }
  .content .content-heading-container {
    text-align: center;
  }
  .content .content-heading-container .overline {
    font-size: var(--fontsize-xsmall);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary-text);
  }
  .content .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .features {
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: var(--color-background2);
    color: var(--color-primary-text);
    display: flex;
    justify-content: center;
  }
  /* .features .features-container {
    max-width: 1200px;
    display: block;
    justify-content: center;
  } */
  .features .features-heading-container {
    text-align: center;
  }
  .features .features-heading-container .overline {
    font-size: var(--fontsize-xsmall);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary-text);
  }
  .features .fetaures-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  .features .fetaures-cards-container .feature-card {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
    flex-basis: calc(50% - 10px); /* Set the width of each card to 50% minus the gap */
    max-width: 500px; /* Set the maximum width of each card */
    min-height: 150px;
    padding: 20px;
    background-color: var(--color-background1);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-shadow2);
    transition: box-shadow 0.3s ease;
  }
  .features .fetaures-cards-container .feature-card:hover {
    box-shadow: 0 0 20px var(--color-shadow1);
  }
  .features .fetaures-cards-container .feature-card .featuresIcon {
    width: 40px;
    height: 40px;
    fill: var(--color-accent);
    margin-bottom: 10px;
  }
  .features .fetaures-cards-container .feature-card .feature-card-text {
    font-size: var(--fontsize-medium);
    font-weight: bold;
    text-align: left;
  }

  .footer {
    padding: 40px;
    background-color: var(--color-background1);
    color: var(--color-primary-text);
  }
  
  .footer .logo {
    font-size: var(--fontsize-large);
    font-weight: bold;
  }
  
  .footer .home-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .footer .home-nav .content-text {
    font-size: var(--fontsize-small);
  }
  
  .footer .home-separator {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer .home-separator .content-text {
    font-size: var(--fontsize--xsmall);
  }
  
  .footer .social-icons {
    display: flex;
    gap: 20px;
  }
  
  .footer .social-icons .home-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-accent);
  }
  
  @media (min-width: 768px) {
    
    .faq .faq-heading-container {
      flex-basis: 33.33%; /* Set the width of the heading container to one third */
    }
  
    .faq .faq-questions-container {
      flex-basis: 66.66%; /* Set the width of the questions container to two thirds */
    }
    .home-mobile-menu1 {
      display: none;
    }
  }
  
  /* Media query for smaller screens */
  
  
  @media (max-width: 1190px) {
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    
    .features .fetaures-cards-container {
      flex-direction: column;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }